<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="furqon.io.github.mobilproject">

    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Furqon"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CommunicationActivity"></activity>
        <activity android:name=".MediaActivity" />

        <service
            android:name=".AudioIntentService"
            android:exported="true" />

        <activity
            android:name=".LoginActivity"
            android:excludeFromRecents="true"
            android:label="@string/welcome_title"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="quran-kareem.web.app"
                    android:pathPattern="*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EarnCoinsActivity"
            android:parentActivityName=".ExtraActivity" />
        <activity
            android:name=".ExtraActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MessageView"
            android:parentActivityName=".MessageList" />
        <activity
            android:name=".MessageList"
            android:parentActivityName=".ExtraActivity" />
        <activity
            android:name=".ScrollingActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_scrolling"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Services.OnClearFromService" />

        <receiver android:name=".Services.NotificationActionService">
            <intent-filter>
                <action android:name="TRACKS_TRACKS" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_asset_32furqon_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3838820812386239~2342916878" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/notification_from_author_channel" />

        <activity
            android:name=".Settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AyahList"
            android:launchMode="standard"
            android:parentActivityName=".SuraNameList" />
        <activity
            android:name=".Favourites"
            android:parentActivityName=".ExtraActivity" />
        <activity
            android:name=".SuraNameList"
            android:launchMode="singleInstance"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Search"
            android:parentActivityName=".ExtraActivity" />
        <activity android:name=".AyahOfTheDay" />
    </application>

</manifest>